.about {
    position: relative;
    z-index: -2;
    padding: 1rem;
    text-align: center;
}

.about-description {
    h2 {
        font-size: 3rem;
        letter-spacing: 1px;
    }
}

.sub-section {
    margin: 5rem 0;


    img {
        width: 100%;
    }

    h3 {
        font-size: 2rem;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) {
    .about {
        max-width: 70%;
        margin: 0 auto;

    }
}

@media (min-width: 1300px) {
    .about {
        max-width: none;
        margin: 0;
        text-align: left;
        width: 70%;
    }
}