footer {
    padding: 1rem;
    color: white;
    background-color: #181818;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 75%;
    border-left: 1px solid white;
    padding: 2rem;

    h2 {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1300px) {
    footer.footer-mb {
        margin-bottom: 3rem;
    }
}