.gallery {
    margin: 2rem auto;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.gallery-image {
    width: 80%;
    max-width: 325px;
    max-height: 325px;
    object-fit: cover;
    object-position: center;
}
