.hero {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -2;

    .hero-title {
        display: none;
    }

    .hero-image {
        height: auto;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .hero-description {
        align-self: flex-end;
        margin: 0.5rem 0;
    }
}

@media (min-width: 1300px) {
    .hero {
        .hero-image {
            width: 100%;
        }

        .hero-description {
            color: white;
            background-color: #181818;
            padding: 0.5rem 1rem;
        }
    }
}

@media (min-width: 1400px) {
    .hero {
        .hero-title {
            font-size: 48px;
            display: block;
        }
    }
}