.hero {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    .hero-title {
        display: none;
    }

    .hero-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .hero-description {
        align-self: flex-end;
    }
}

@media (min-width: 1300px) {
    .hero {
        .hero-description {
            color: white;
            background-color: $color-secondary;
            padding: 0.5rem 1rem;
        }
    }
}

@media (min-width: 1400px) {
    .hero {
        .hero-title {
            font-size: 48px;
            display: block;
        }
    }
}
