.max-width-1100 {
    max-width: 1150px;
    margin: auto;
}

@media (min-width: 1300px) {
    .background-accent {
        position: fixed;
        z-index: -3;
        background-color: black;
        top: 0;
        right: 0;
        width: 30%;
        height: 100vh;
    }
}

main.max-width-1100 {
    padding-top: clamp(80px, 1vh, 10vh);

}

@media (min-width: 1400px) {
    main.max-width-1100 {
        padding-top: 0;
    }
}