/* others */

.hero {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


.hero-title {
    font-size: 48px;
    align-self: start;
    letter-spacing: 3px;
}

.hero-image {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: auto;
}

.hero-description {
    align-self: flex-end;
}


ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li:hover {
    transition: transform 0.3s linear;
    transform: scale(1.2);
}


.background-accent {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: rgb(247, 148, 50);
    width: 40%;
    height: 100vh;
}


.background-about {
    background-color: rgb(247, 148, 50);
}

/* About */
.about {
    width: 60%;
}


.sub-section {
    margin: 2rem 0;
}

.about-image {
    margin: 1rem 0;
    width: 100%;
    display: block;
}

/* FOOTER */
footer {
    padding: 1rem;
    margin-left: 20vw;
    background-color: black;
    color: white;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-link-svg {
    width: 2rem;
    height: 2rem;
}